.currentSVGContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
svg {
    width: 500px;
    height: 500px;
}
.controls {
    margin-top: 20px;
}
.segment-text {
    font-size: 0.08;
    fill: black;
    text-anchor: 100px;
    alignment-baseline: middle;
}

.button-88 {
    background-color: #2e4d7c;
    border: 1px solid #2e4d7c;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-88:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
    background-color: #2e4d7c;
}

@media (min-width: 768px) {
    .button-88 {
        padding: 10px 30px;
    }
}

details {
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #2e4d7c;
    color: white;
} 

details[open] {
    background-color: #4c92d8;
    color: white;
}

summary {
    background-color: #2e4d7c;
    cursor: pointer;
    color: white;
}

details[open] summary {
    background-color: #4c92d8;
}
